<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.omnisec.nats</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/libexec/omnisec/omnisec-nats-run</string>
    </array>
    <key>UserName</key>
    <string>_omnisec</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/omnisec/nats.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/omnisec/nats.err</string>
</dict>
</plist>
